#equation{
    -fx-min-width: 340;
    -fx-min-height: 60;
    -fx-alignment: center-right;
    -fx-font-size: 20;
    -fx-border-style: hidden hidden solid hidden;
    -fx-set-editable: false;
    -fx-background-color: gray;
    -fx-border-color: #333538;
    -fx-border-width: 3;
}
#root{
    -fx-padding: 5 0 0 0;
    -fx-background-color: #2c2d2e;
}

#button, #button3, #button2, #button1, #button6, #button7{
    -fx-pref-width: 85;
    -fx-pref-height: 85;
    -fx-background-radius: 15px;
    -fx-margin: 100px;
    
}
#button1, #button2, #button3, #button6, #button5{
    -fx-pref-width: 85;
    -fx-pref-height: 85;
    -fx-background-color: gray;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-radius: 15;
}
#clearButton{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
